html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
body {
    transition: 2s;
}
#container {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name-container {
    font-size: 2rem;
}
#birth-container {
    font-size: 1.5rem;
    margin: 1rem 0;
}
#birthplace {
    color: #1976D2;
}
#birthdate {
    color: #42A5F5;
}
#description {
    font-size: 1.25rem;
}
.blue {
    color: cornflowerblue;
}
#education-history-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #42A5F5;
}

#education-history {
    text-align: left;
}
li:nth-child(odd) {
    color: #1976D2;
}
li:nth-child(even) {
    color: #42A5F5;
}