<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
    <script type="text/javascript" th:src="@{/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/curriculum-vitae.js}"></script>
    <link rel="stylesheet" th:href="@{/css/curriculum-vitae.css}"></link>
</head>
<body>
    <div id="container">
        <h1 th:text="${visitor}? ${visitor} + ', I hope you are interested working with me!' : 'This is my CV'" />
        <div id="name-container">My name is <span class="blue">Albertus Angga Raharja</span></div>
        <div id="birth-container">I was born in <span id="birthplace">Jember</span>, <span id="birthdate">August 29th 1998</span></div>
        <p id="description">
            I'm a sophomore in Computer Science at University of Indonesia who is in his journey to become  Software Engineer.
            I'm a former Software Engineering Intern @Stoqo and @Twiggsy.
            I love to type at my leisure and deeply enjoy Japanese pop culture.
        </p>
        <div id="education-history-title">My Education History:</div>
        <ul id="education-history">
            <li>(2016 - Present) Faculty of Computer Science, Universitas Indonesia</li>
            <li>(2013 - 2016) SMAK Santo Paulus Jember</li>
            <li>(2010 - 2013) SMPK Maria Fatima Jember</li>
            <li>(2004 - 2010) SDK Maria Fatima III Jember</li>
        </ul>
    </div>
</body>
</html>